Source: nextcloud-spreedme
Section: web
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>,
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 debhelper (>= 9),
 quilt
Standards-Version: 3.9.5

Package: nextcloud-spreedme
Architecture: all
Depends:
 nextcloud-server,
 spreedbox-php (>= 0.1.1),
 ${misc:Depends}
Provides:
 nextcloud-spreedme-app,
 nextcloud-spreedme-plugin
Replaces:
 nextcloud-spreedme-app,
 nextcloud-spreedme-plugin
Conflicts:
 nextcloud-spreedme-app,
 nextcloud-spreedme-plugin
Description: Nextcloud app to embedd spreed-webrtc
 This package installs the Nextcloud app to embedd spreed-webrtc.
