Source: owncloud-spreedme
Section: web
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 debhelper (>= 9),
 quilt
Standards-Version: 3.9.5

Package: owncloud-spreedme
Architecture: all
Depends:
 ${misc:Depends}
Provides:
 owncloud-spreedme-app,
 owncloud-spreedme-plugin
Replaces:
 owncloud-spreedme-app,
 owncloud-spreedme-plugin
Conflicts:
 owncloud-spreedme-app,
 owncloud-spreedme-plugin
Description: Owncloud app to embedd spreed-webrtc
 This package installs the Owncloud app to embedd spreed-webrtc.
