#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS
#export DEB_BUILD_OPTIONS=nocheck

export QUILT_PATCHES=debian/patches

%:
	dh $@ --parallel

override_dh_auto_build:
	# no building required

override_dh_auto_install:
	dh_auto_install

	# Configuration for Nextcloud application
	cp config/config.php.in debian/nextcloud-spreedme/etc/spreedme/nextcloud/config.php
	ln -s /etc/spreedme/nextcloud/config.php debian/nextcloud-spreedme/usr/lib/nextcloud/www/apps/spreedme/config

	# Configuration for spreed-webrtc plugin
	cp extra/static/config/OwnCloudConfig.js.in debian/nextcloud-spreedme/etc/spreedme/nextcloud/OwnCloudConfig.js
	ln -s /etc/spreedme/nextcloud/OwnCloudConfig.js debian/nextcloud-spreedme/usr/share/nextcloud-spreedme/extra/static/config/OwnCloudConfig.js
	ln -s /usr/share/nextcloud-spreedme/extra debian/nextcloud-spreedme/usr/lib/nextcloud/www/apps/spreedme/extra

	# Load spreed-webrtc plugin via extra.d
	mkdir -p debian/nextcloud-spreedme/usr/share/spreed-webrtc-server/extra.d
	ln -s /usr/share/nextcloud-spreedme/extra debian/nextcloud-spreedme/usr/share/spreed-webrtc-server/extra.d/010-nextcloud-spreedme
